// ~~~~~~~~~~~~~~~~~~~~~~~~
// navigation bar
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $grey;
    height: 50px;
    border-radius: 0 0 12px 12px;
    .nav-element {
        display: flex;
        align-items: center;
        padding: 0;
        height: 100%;
        &:first-child {
            @include logo;
            @include hover;
            padding: 0 20px;
            border-bottom-left-radius: 12px;
        }
        .nav-item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            list-style: none;
            .nav-link {
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white;
                text-decoration: none;
                letter-spacing: 0.3px;
                padding: 0 20px;
                height: 100%;
                @include hover;      
            }              
        }
        .right {
            border-bottom-right-radius: 12px;
        }
    }
    .nav-element-lonely {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}