.posts {
    .new-comment,
    .new-post {
        min-height: 300px;
        width: 100%;
        h1 {
            text-align: center;
        }
        form > .fieldWrapper.form-group {
            display: flex;
            flex-direction: row;
            .field-label {
                padding-left: 10px;
                font-weight: bold; 
                width: 10%;
            }
            .field {
                width: 80%;
                height: 100px;
                input[type=text] {
                    width: 400px;
                    height: 30px;
                    .django-mediumeditor-editable {
                        width: 80px;
                    }
                }
                .django-mediumeditor-editable {
                    // background-color: olive;
                    min-height: 100px;
                }
                
            }
        }
    }
}