// ~~~~~~~~~~~~~~~~~~~~~~~~
// routes
.routes {
    // ~~~~~~~~~~~~~~~~~~~~~~~~
    // route_list
    .route-list {
        display: flex;
        flex-direction: column;
        @include main-margin;
        h1, h2, h3, h4 {
            // border-bottom: 1px solid #ccc;
        }
        ul {
            
            list-style: none;
            padding: 0;
            a {    
                display: flex;
                text-decoration: none;
                color: $almost-black;
                line-height: 40px;
                padding-left: 10px;
                @include hover;
                border-radius: 12px;
                background-color: $grey-form;
                &:hover {
                    background-color: #4c4b4b;
                    color: $orange;
                }
            }
        }
        .region-list, .sector-list {
            display: none;
            padding-left: 30px;
        }
    }

    // ~~~~~~~~~~~~~~~~~~~~~~~~
    // route_ascent_list
    .route-info {
        display: flex;
        flex-direction: column;
        .route-details,
        .route-ascents,
        .route-opinions,
        #line,
        #pie {
            // border: 1px solid black;
            // border-radius: 12px;
            margin: 30px 0;
            padding: 0 10px;
        }
        .route-details {
            display: flex;
            flex-direction: column;
            p {
                display: flex;
                align-items: center;
                justify-content: left;
                background-color: $grey-form;
                height: 50px;
                border-radius: 12px;
                span {
                    width: 150px;
                    padding-left: 10px;
                }
                a {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    // background-color: red;
                    height: 100%;
                    @include hover;
                    &:hover {
                        // background-color: initial;
                    }
                }
            }
        }
        .route-ascents {
            table {
                width: 100%;
            }
            thead th {
                background-color: $grey-form;
                height: 30px;
                font-size: 1.2rem;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
            }
            tbody > tr {
                
                &:nth-of-type(2n) {
                    background-color: $grey-form; 
                }
            }
            tbody > tr > td {
                padding: 5px 10px;

                a {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    @include hover;
                    &:hover {
                        background-color: initial;
                    }
                }
            }
        }
        .route-opinions {
            
            .post {
                display: flex;
                flex-direction: row;
                padding: 10px 0;
                &:nth-of-type(2n) {
                    background-color: $grey-form;
                    border-radius: 12px;
                }
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 40px;
                    width: 10%;
                    padding: 0 5px;
                }
                span {
                    width: 90%;
                    padding: 0 10px 0 5px;
                }
            }
        }
    }
    
    // ~~~~~~~~~~~~~~~~~~~~~~~~
    // highcharts
    #c1, #pie, #line, #DataTables_Table_0_wrapper {
        font-family: 'Roboto', sans-serif;
        margin: 50px 0;
        .highcharts-credits {
            display: none;
        }
        text.highcharts-title {
            font-family: 'Roboto', sans-serif;
        }    
    }
    a {
        color: $almost-black;
        text-decoration: none;
        font-weight: bold;
        &:hover {
            color: $orange
        }
    }
    // ~~~~~~~~~~~~~~~~~~~~~~~~
    // forms
    .route-form {
        h1 {
            text-align: center;
        }
        .fieldWrapper.form-group {
            background-color: $grey-form;
            border-radius: 12px;
            margin: 10px 0;
            padding: 15px 10px;
            display: flex;
            flex-direction: row;
            .field-name {
                width: 15%;
                font-weight: bold;
            }
            .field-options {
                display: flex;
                flex-direction: row;
                width: 85%;
                select {
                    width: 50%;
                    height: 1.5rem;
                    background-color: $grey-form;
                }
                .add-buttons {
                    margin-left: 10px;
                    .add-sector  {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $white;
                        height: 21px;
                        background-color: $grey-form;
                        border-radius: 6px;
                        padding: 2px 20px 2px 10px;
                        @include hover;
                        font-weight: normal;
                        // .svg-inline--fa.fa-plus.fa-w-14 {
                            // padding: 0 10px;
                        // }
                    }
                }
                input[type=text] {
                    width: 50%;
                    height: 1.5rem;
                    border-radius: 6px;
                    padding-left: 5px;
                }
                #id_route_type,
                #id_protection,
                #id_scale {
                    display: flex;
                    flex-direction: row;
                    list-style: none;
                    padding: 0;
                    li {
                        padding-right: 10px;
                    }
                }
            }
        }
    }
    .ascent-form {
        h1 {
            text-align: center;
        }
        .fieldWrapper.form-group {
            background-color: $grey-form;
            border-radius: 12px;
            margin: 10px 0;
            padding: 15px 10px;
            display: flex;
            flex-direction: row;

            .field-name {
                width: 15%;
                font-weight: bold;
            }
            .field-options {
                display: flex;
                flex-direction: row;
                width: 85%;
                select {
                    width: 50%;
                    height: 1.5rem;
                    // background-color: #4797B9;
                }
                .add-buttons {
                    margin-left: 10px;
                    .add-sector  {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $white;
                        height: 21px;
                        background-color: $grey-form;
                        border-radius: 6px;
                        padding: 2px 20px 2px 10px;
                        @include hover;
                        font-weight: normal;
                    }
                }
                input[type=date] {
                    height: 1.5rem;
                    // background-color: #4797B9;
                    height: 21px;
                    border-radius: 6px;
                }
                #id_ascent_style,
                #id_rating {
                    display: flex;
                    flex-direction: row;
                    list-style: none;
                    padding: 0;
                    li {
                        padding-right: 10px;
                    }
                }
                textarea#id_description {
                    border-radius: 6px;
                    border: 1px solid $grey;
                    padding: 5px;
                }
            }
        }   
    }
    .sector-form {
        h1 {
            text-align: center;
        }
        form {
            border-radius: 12px;
            position: relative;
            min-height: 460px;
            .fieldWrapper.form-group {
                margin: 10px 0;
                padding: 15px 10px;
                display: flex;
                flex-direction: row;
                .field-name {
                    width: 15%;
                    font-weight: bold;
                }
                .field-options {
                    display: flex;
                    flex-direction: row;
                    width: 85%;
                }
                input[type=text] {
                    width: 40%;
                    color: $almost-black;
                    padding-left: 5px;
                    // background-color: #4797B9;
                    height: 1.5rem;
                    border-radius: 6px;
                }
                input[type=text]#id_location {
                    border: 3px solid black;
                    visibility: hidden;
                }
                .map-widget {
                    position: absolute;
                    left: 125px;
                    height: 635px;
                    width: 450px;
                }
            }
        }
    }
    .buttons {
        margin-top: 280px;
    }
    .map-section {
        display: flex;
        justify-content: center;
        #map {
            height: 800px;
        }
    }
}