// ~~~~~~~~~~~~~~~~~~~~~~~~
// main page
.welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @include main-margin;
    .logo {
        @include logo;
        // margin: 25px; 
        font-size: 5rem;
    }
    .slogan {
        font-family: 'Roboto', sans-serif;
        font-size: 2.8rem;

        .high {
            text-transform: uppercase;
            color: $orange;
            font-weight: bolder;
        }
    }
    .fas, .fa-arrow-up {
        color: $orange;
        font-size: 2.5rem;
    }
    
    .random-pic {
        border-radius: 12px;
        margin: 25px;
    }
}