certifi==2018.1.18
cloudinary==1.10.0
Django==2.0.2
django-appconf==1.0.2
django-bootstrap-form==3.3
django-chartit==0.2.9
django-extensions==1.9.9
django-location-field==2.0.3
django-mediumeditor==1.0.0
Faker==0.8.11
mock==2.0.0
pbr==3.1.1
Pillow==5.0.0
python-dateutil==2.6.1
pytz==2018.3
six==1.11.0
text-unidecode==1.1
typing==3.6.4
urllib3==1.22
