{% extends "routes/routes_base.html"  %}
{% block route_content %}
  <div class="ascent-form">
    <h1>New Ascent</h1>
    <form action="" method="post">
      {{form.media}}
      {% csrf_token %}
      {# Include the hidden fields #}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
      {% for field in form.visible_fields %}
          <div class="fieldWrapper form-group">
              {{ field.errors }}
              {% if field.label == 'Location' %}
                {{field.as_hidden}}
              {% else %}
              <div class="field-name">
                {{ field.label }}
              </div>
              <div class="field-options">
                {{ field }}
                {% endif %}
                {% if field.label == 'Route' %}
                <div class="add-buttons">
                  <a class="add-sector" href="{% url 'routes:new_route' %}">&nbsp<span class='fas fa-plus'></span>&nbspAdd New Route</a>
                </div>
              {% endif %}
              </div>
          </div>
      {% endfor %}
      <div class="buttons">
        <div class="add-buttons">
          <input class="save" type="submit" value="Add New Ascent"></input>
        </div>
        <input class="back-button" type=button value='Back' onClick="javascript:history.go(-1);">
      </div>
    </form>
  </div>
{% endblock route_content %}
