{% extends "routes/routes_base.html" %}
{% block route_content %}
  <h1>List of climbing locations</h1>
  <div class="panel-group">
    <div class="panel panel-default">
      <!-- List of countries -->
    {% for country, city_dict in place_dict.items %}
      <div class="panel-heading">
        <h3 class="panel-title">
          <a data-toggle = "collapse" href="#{{country|slugify}}">{{country}}</a>
        </h3>
      </div>
      <div id="{{country|slugify}}" class="panel-collapse collapse">
        <!-- List of cities -->
        {% for city, places in city_dict.items %}
          <ul class="list-group">
            <li class="list-group-item">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a data-toggle = "collapse" href="#{{city|slugify}}">{{city}}</a>
                  </h3>
                </div>
                <!-- List of Regions -->
                <div id="{{city|slugify}}" class="panel-collapse collapse">
                  <ul class="list-group">
                    {% for place in places %}
                    <li class="list-group-item">
                      <a href="{% url 'routes:route_list' pk=place.pk %}">{{place.name}}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </li>
        {% endfor %}
          </ul>
      </div>
      {% endfor %}
    </div>
  </div>
  <a href="{% url 'routes:new_place' %}">Add a Region</a>
{% endblock route_content %}
