{% include "routes/routes_base.html" %}
{% block route_content %}
  <div class="container">
    <h1>{{place.name}}</h1>
    <h3>{{place.route}}</h3>
    <table>
      <thead>
        <th>Route Name</th>
        <th>Grade</th>
        <th>Protection</th>
      </thead>
      <tbody>
        {% for route in place.route %}

        <tr>
          <td>{{route.name}}</td>
          <td>{{route.grade}}</td>
          <td>protection</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>


  </div>



{% endblock route_content %}
