{% extends "routes/routes_base.html" %}
{% block route_content %}
{% if route_list %}
  <h1 class="text-center" >{{sector}}</h1>
  <table class="table datatable">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Protection</th>
      <th>Grade</th>
      <th>Average Rating</th>
    </thead>
    <tbody>
    {% for object in route_list %}
      <tr>
        <td><a href="{% url 'routes:route_ascents' route_slug=object.slug sector_slug=sector.slug %}">{{object.name}}</a></td>
        <td>{{object.get_route_type_display}}</td>
        <td>{{object.get_protection_display}}</td>
        <td>{{object.grade}}</td>
        <td>{% include "routes/_rating.html" %} </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  {% load chartit %}
  {{chart|load_charts:"c1"}}
  <div id="c1"></div>

{% else %}
<h1>No routes were found</h1>
{% endif %}



{% include "_map.html" %}
  <a href="{% url 'routes:new_route_from_sector' slug=sector.slug %}">Add a Route</a>



{% endblock route_content %}
