{% extends "routes/routes_base.html" %}
{% block route_content %}
{% if route_list %}
  <h1 class="text-center" >{{route_list.0.location}}</h1>
  <table class="table datatable">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Protection</th>
      <th>Grade</th>
      <th>Average Rating</th>
    </thead>
    <tbody>
    {% for object in route_list %}
      <tr>
        <td><a href="{% url 'routes:route_ascents' pk=object.pk %}">{{object.name}}</a></td>
        <td>{{object.get_route_type_display}}</td>
        <td>{{object.get_protection_display}}</td>
        <td>{{object.grade}}</td>
        <td>{% include "routes/_rating.html" %} </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% include "_map.html" %}
{% else %}
<h1>No routes were found</h1>
{% endif %}
  <a href="{% url 'routes:new_route' %}">Add a Route</a>
{% endblock route_content %}
