{% extends "routes/routes_base.html"  %}
{% block route_content %}
  <div class="route-form">
    <h1>New Route</h1>
    <form action="" method="post">
      {% csrf_token %}
      {{form.media}}
      {# Include the hidden fields #}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
      {# visible fields #}
      {% for field in form.visible_fields %}
          <div class="fieldWrapper form-group">
              {{ field.errors }}
              <div class="field-name">
                  {{ field.label }}
              </div>
              <div class="field-options">
                {{ field }}
                {% if field.label == 'Sector' %}
                  <div class="add-buttons">
                    <a class="add-sector" href="{% url 'routes:new_sector' %}"><span class='fas fa-plus'></span>&nbspAdd New Sector</a>
                  </div>
                {% endif %}
              </div>
          </div>
      {% endfor %}
      <div class="buttons">
        <div class="add-buttons">
          <input class="save" type="submit" value="Add New Route"></input>
        </div>
        <input class="back-button" type=button value='Back' onClick="javascript:history.go(-1);">
      </div>  
    </form>
  </div>
{% endblock route_content %}
