{% extends "routes/routes_base.html" %}
{% block route_content %}
  <h1 class="text-center">{{object_list.0.route}}</h1>
  <table class="table">
    <thead>
      <th>Username</th>
      <th>Date of Ascent</th>
      <th>Style of Ascent</th>
      <th>Description</th>
      <th>Rating</th>
    </thead>
    <tbody>
    {% for ascent in object_list %}
      <tr>
        <td><a href="{% url 'routes:user_ascents' pk=ascent.user.pk %}">{{ascent.user.username}}</a></td>
        <td>{{ascent.date}}</td>
        <td>{{ascent.get_ascent_style_display}}</td>
        <td>{{ascent.description}}</td>
        <td>
          {% if not ascent.rating %}
            <span></span>
          {% elif ascent.rating > 0 and ascent.rating < 1 %}
            <span class="fas fa-star-half"></span>
          {% elif ascent.rating == 1 %}
            <span class="fas fa-star"></span>
          {% elif ascent.rating > 1 and ascent.rating < 2 %}
              <span class="fas fa-star"></span>
              <span class="fas fa-star-half"></span>
          {% elif ascent.rating == 2 %}
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
          {% elif ascent.rating > 2 and ascent.rating < 3 %}
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star-half"></span>
          {% elif ascent.rating == 3 %}
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock route_content %}
