{% extends "routes/routes_base.html" %}
{% block route_content %}
{% if object_list %}
  <h1 class="text-center"> Ascents of {{route}}</h1>
  <table class="table datatable">
    <thead>
      <th>Username</th>
      <th>Date of Ascent</th>
      <th>Style of Ascent</th>
      <th>Description</th>
      <th>Rating</th>
    </thead>
    <tbody>
    {% for object in object_list %}
      <tr>
        <td>
          {% if object.user.userprofile.hidden %}
            Hidden User
          {% else %}
            <a href="{% url 'accounts:user_profile' username=object.user.username%}">{{object.user.username}}</a>
          {% endif %}
        </td>
        <td>{{object.date}}</td>
        <td>{{object.get_ascent_style_display}}</td>
        <td>{{object.description}}</td>
        <td>{% include "routes/_rating.html" %} </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
    <h1>No ascents were found</h1>
{% endif %}
  <a href="{% url 'routes:new_ascent_from_route' route_slug=route.slug place_slug=place.slug %}">New Ascent</a>
{% endblock route_content %}
