{% extends "routes/routes_base.html"  %}
{% block route_content %}
  <div class="sector-form">
    <h1>New Sector</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{form.media}}
        {# Include the hidden fields #}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {# visible fields #}
        {% for field in form.visible_fields %}
            <div class="fieldWrapper form-group">
                {{ field.errors }}
                <div class="field-name">
                    {{ field.label }}

                </div>
                <div class="field-options">
                        {{ field }}
                </div>
            </div>
        {% endfor %}
    </form>
    <div class="buttons">
            <div class="add-buttons">
              <input class="save" type="submit" value="Add New Sector"></input>
            </div>
            <input class="back-button" type=button value='Back' onClick="javascript:history.go(-1);">
    </div>
  </div>
{% endblock route_content %}
