{% extends "routes/routes_base.html" %}
{% block route_content %}
{% if object_list %}
  <h1 class="text-center">Ascents of <a href="{% url 'accounts:user_profile' username=user_prof%}">{{user_prof}}</a></h1>
  <table class="table datatable">
    <thead>
      <th>Route</th>
      <th>Grade</th>
      <th>Date</th>
      <th>Style</th>
      <th>Description</th>
      <th>Rating</th>
    {% if user == user_prof %}
      <th>Modify</th>
    {% endif %}
    </thead>
    <tbody>
    {% for object in object_list %}
      <tr>
        <td>
          <a href="{% url 'routes:route_ascents' route_slug=object.route.slug sector_slug=object.route.sector.slug %}">
            {{object.route.name}}
          </a>
          <span>, </span>
          <a href="{% url 'routes:route_list' slug=object.route.sector.slug %}">
            {{object.route.sector.name}}
          </a>
        </td>
        <td>{{object.route.grade}}</td>
        <td>{{object.date}}</td>
        <td>{{object.get_ascent_style_display}}</td>
        <td>{{object.description}}</td>
        <td>{% include "routes/_rating.html" %}</td>
      {% if user == user_prof %}
        <td>
          <a href="{% url 'routes:update_ascent' object.id %}"><span class="fas fa-edit" ></span> </a>
          <a href="{% url 'routes:delete_ascent' object.id %}"><span class="fas fa-trash" ></span> </a>
        </td>
      {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% load chartit %}
{{ chart_list|load_charts:"line,pie" }}
<div id="line"></div>
<div id="pie"></div>


{% else %}
  <h1>No ascents found</h1>
{% endif %}
{% if user == user_prof%}
<div class="buttons">
  <div class="add-buttons">
    <a class="add-ascent" href="{% url 'routes:new_ascent' %}">Add Ascent</a>
    <a class="add-sector" href="{% url 'routes:new_sector' %}">Add Sector</a>
    <a class="add-route" href="#">Add Route</a>
  </div>
  <input class="back-button" type=button value='Back' onClick="javascript:history.go(-1);">
</div>
{% endif %}
{% endblock route_content %}
