body { margin: 0; padding: 0; }

.logo { font-family: Bungee, sans-serif; text-decoration: none; color: #000; font-size: xx-large; transition: 0.6s linear; }

.logo:hover { color: #e4730a; }

.container { height: 1000px; width: 900px; margin: 0 auto; background-color: #909090; font-family: 'Roboto', sans-serif; }

.container .navbar { background-color: #585858; height: 70px; display: flex; align-items: center; justify-content: space-between; }

.container .navbar .nav-element { display: flex; align-items: center; padding: 0; height: 100%; }

.container .navbar .nav-element .nav-item { display: flex; align-items: center; justify-content: center; height: 100%; list-style: none; }

.container .navbar .nav-element .nav-item .nav-link { display: flex; align-items: center; justify-content: center; color: #000; text-decoration: none; padding: 0 10px; height: 100%; transition: 0.6s linear; }

.container .navbar .nav-element .nav-item .nav-link:hover { color: #e4730a; }

.container .welcome { display: flex; flex-direction: column; justify-content: space-around; align-items: center; }

.container .welcome .logo { margin: 25px; font-size: 5rem; }

.container .welcome .slogan { font-family: 'Roboto', sans-serif; font-size: 2.8rem; margin: 25px; }

.container .welcome .slogan .high { text-transform: uppercase; color: #e4730a; font-weight: bolder; }

.container .welcome .fas, .container .welcome .fa-arrow-up { color: #e4730a; font-size: 2.5rem; }

.container .welcome .random-pic { border-radius: 12%; margin: 25px; }
