/* navbar brand */
span.logo {
  font-size: 150%;
  font-weight: bold;
}

/* location googlemaps */
#map {
        height: 400px;
        width: 400px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */