{% extends "accounts/accounts_base.html" %}
{% block accounts_content %}
<div class="group-list">
  <div class="group-view">
    <div class="group-info">
      <h1>Group name: {{group.name}}</h1>
      <p><span>Group description:</span> {{group.description}}</p>
    </div>
    <div class="group-posts">
      {% if group.posts %}
      {% for post in  group.posts.all%}
        {% include "posts/_post.html" %}
      {% endfor %}
      {% else %}
        <h2>No Posts</h2>
      {% endif %}
      {% if user in group.members.all %}
      <div class="buttons">
          <div class="add-buttons">
        <a class="add-post" href="{% url 'posts:new_post' slug=group.slug%}">New Post</a>
        </div>
      </div>
      {% endif %}
      {% if user.is_authenticated %}
        <div class="buttons">
          <div class="add-buttons">
            <!-- <input class="save" type="submit" value="Save"> -->
            <!-- <input class="back-button" type=button value='Back' onClick="javascript:history.go(-1);"> -->
          {% if user in group.members.all %}
            <a class="join-leave" href="{% url 'accounts:leave_group' slug=group.slug %}">Leave!</a>
          {% else %}
            <a class="join-leave" href="{% url 'accounts:join_group' slug=group.slug %}">Join!</a>
          {% endif %}
        </div>
        </div>
      {% endif %}
    </div>
    <div class="group-members">
      <h3>Members: {{group.members.count}}</h3>
      <ul class="group-users">
        {% for member in group.members.all %}
          <li><a href="{% url 'accounts:user_profile' username=member.username%}">{{member.username}}</a></li>
        {% endfor %}
      </ul>
    </div>    
  </div>
</div>
{% endblock accounts_content %}
