{% extends "accounts/accounts_base.html" %}
{% block accounts_content %}
<div class="login-signup wide">
    <h1 class="text-center">Create Your Profile</h1>
    <form  action="" method="post">
        {{form.media}}
        {% csrf_token %}
        {# Include the hidden fields #}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="fieldWrapper form-group">
                {{ field.errors }}
                <div class="field-label">
                    {{ field.label }}
                </div>
                <div class="label">
                    {{ field }}
                </div>
              </div>
        {% endfor %}
        <div class="buttons">
            <div class="add-buttons">
              <input class="save" type="submit" value="Create Profile"></input>
            </div>
          </div>
    </form> 
</div>  
{% endblock accounts_content %}
