{% extends "indoor/indoor_base.html" %}
{% block indoor_content %}
<div class="training-form">
    <h1>New Training</h1>
    <form method="post">
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      {% for field in form.visible_fields %}
          <div class="fieldWrapper form-group">
              {{ field.errors }}
              <div class="field-name">
                {{ field.label }}
              </div>
              <div class="field-options">
                {{ field }}
              </div>
              {% if field.label == 'Gym' %}
              <div class="add-buttons">
                <a href="{% url 'indoor:new_gym' %}">&nbsp<span class='fas fa-plus'></span>&nbspAdd New Gym</a>
              </div>
              {% endif %}
          </div>
      {% endfor %}
      <div class="buttons">
          <div class="add-buttons">
            <input class="save" type="submit" value="Add Training"></input>
          </div>
          <input class="back-button" type=button value='Back' onClick="javascript:history.go(-1);">
        </div>
    </form>
  </div>
{% endblock indoor_content %}
