{% extends "indoor/indoor_base.html" %}
{% block indoor_content %}
<div class="training-list">
  <h1>List of <a href="{% url 'accounts:user_profile' username=username %}">{{username}}'s</a> trainings</h1>
  {% if training_list %}
  <table class="table datatable">
    <thead>
      <th>Date</th>
      <th>Gym</th>
      <th>Tops</th>
      <th>Description</th>
    {% if user.username == username%}
      <th>Modify</th>
    {% endif %}
    </thead>
    <tbody>
    {% for training in training_list %}
      <tr>
        <td><a href="{% url 'indoor:top_list' pk=training.pk %}">{{training.date}}</a></td>
        <td>{{training.location}}</td>
        <td>{{training.tops.count}}</td>
        <td>{{training.description}}</td>
      {% if user.username == username%}
        <td>
          <a href="{% url 'indoor:edit_training' pk=training.pk %}"><span class="fas fa-edit" ></span> </a>
          <a href="{% url 'indoor:delete_training' pk=training.pk %}"><span class="fas fa-trash" ></span> </a>
        </td>
      {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>


{% load chartit %}
{{chart_list|load_charts:'pie,line'}}
<div id="line"></div>
<div id="pie"></div>

{% else %}
  <h2 class="no-records">There were no records found</h2>
{% endif %}
  <div class="buttons">
      <div class="add-buttons">
          <a class="add-training" href="{% url 'indoor:new_training' %}">Add Training</a>
      </div>
      <input class="back-button" type=button value='Back' onClick="javascript:history.go(-1);">
  </div>
</div>
{% endblock indoor_content %}
