<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- bootsrap + jquery -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <!-- static -->
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <script type="text/javascript" src="{% static 'js/master.js' %}"></script>
    <!-- dataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <!-- Highcharts -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar sticky-top navbar-inverse bg-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home' %}">
              <span class="text-center logo">TROP</span>
              <span class="text-center">TRack your tOPs</span>
              <span class="fas fa-arrow-up"></span>
            </a>
          </div>
          <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'routes:places' %}">Climbing locations</a></li>
          {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:users' %}">User Profiles</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'routes:new_ascent' %}">Add an Ascent</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'indoor:training_list' username=user.username %}">Indoor</a></li>
          {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:redirect' %}">
                  <span class="fas fa-user"></span><span> {{user}}</span>
                </a>
              </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'accounts:logout' %}">
                    <span class="fas fa-sign-out-alt"></span><span> Log Out</span>
                  </a>
                </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:signup' %}">
                <span class="fas fa-user"></span><span> Sign Up</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'accounts:login' %}">
                <span class="fas fa-sign-in-alt"></span><span> Log In</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>

    <div class="container">
    {% block content %}{% endblock content %}
    </div>
  </body>
</html>
