{% extends "base.html" %}
{% block content %}

  <div class="welcome">
    <div class="logo">TROP</div>
    <div class="slogan">
      <span class="high">tr</span>ack your t<span class="high">op</span>s <span class="fas fa-arrow-up"></span>
    </div>
    {% if user.is_authenticated and not user.userprofile.hidden %}
    <h2>Recent Posts</h2>
    <div class="posts">
      {% for post in recent_posts %}
        <h5>Group: <a href="{% url 'accounts:single_group' slug=post.group.slug %}">{{post.group.name}}</a> </h5>
        {% include "posts/_post.html" %}
      {% endfor %}
    </div>
    {% else %}
    {% if user.userprofile.hidden %}
      <h4>Reveal your profile to take part in discussions!</h4>
    {% endif %}
      <img class="random-pic" src="https://source.unsplash.com/800x450/?climbing,mountains" alt="">
    {% endif %}

  </div>


{% endblock content %}
