// ~~~~~~~~~~~~~~~~~~~~~~~~
// partials

@import 'colors';
@import 'mixins';

// ~~~~~~~~~~~~~~~~~~~~~~~~
// body

body {
    margin: 0;
    padding: 0;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~
// main elements

.container {
    height: 1000px;
    width: 900px;
    margin: 0 auto;
    // background-color: #909090;
    font-family: Roboto, sans-serif;
    
    // ~~~~~~~~~~~~~~~~~~~~~~~~
    // navigation bar

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: $grey;
        height: 50px;
        border-radius: 0 0 12px 12px;

        .nav-element {
            display: flex;
            align-items: center;
    
            padding: 0;
            height: 100%;

            &:first-child {
                @include logo;
                @include hover;

                padding: 0 10px;
            }

            .nav-item {
                display: flex;
                align-items: center;
                justify-content: center;

                height: 100%;
                list-style: none;

                .nav-link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // color: $almost-black;
                    color: $white;
                    text-decoration: none;
                    // font-weight: bold;
                    letter-spacing: 0.3px;
                    padding: 0 10px;
                    height: 100%;

                    @include hover;      
                }              
            }
        }
    }

    // ~~~~~~~~~~~~~~~~~~~~~~~~
    // back button

    .back {
        display: flex;
        @include main-margin;
        justify-content: flex-end;
        
        .back-button {
            height: 50px;
            width: 70px;
            border-radius: 15%; 
            cursor: pointer;
            color: $almost-black;
            background-color: $grey;
            font-family: 'Roboto', sans-serif;
            font-size: large;
            font-weight: bold;
            border: none;
            @include hover;
        }
    }

    // ~~~~~~~~~~~~~~~~~~~~~~~~
    // main page

    .welcome {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        @include main-margin;

        .logo {
            @include logo;
            // margin: 25px; 
            font-size: 5rem;
        }

        .slogan {

            font-family: 'Roboto', sans-serif;
            font-size: 2.8rem;

            .high {
                text-transform: uppercase;
                color: $orange;
                font-weight: bolder;
            }

        }

        .fas, .fa-arrow-up {
            color: $orange;
            font-size: 2.5rem;
        }

        .random-pic {
            border-radius: 12px;
            margin: 25px;
        }

    }

    // ~~~~~~~~~~~~~~~~~~~~~~~~
    // user-profile pages

    .users {
        
        display: flex;
        justify-content: space-between;
        @include main-margin;
        

        // ~~~~~~~~~~~~~~~~~~~~~~~~
        // user-profile 

        .user-list {
            display: flex;
            flex-direction: column;    
            

            h1 {
                border-bottom: 1px solid #ccc;
            }

            ul {

                list-style: none;
                padding: 0;

                li {
                    border-bottom: 1px solid #ccc;
                    display: flex;
                    @include hover;

                    a {
                        text-decoration: none;
                        color: $almost-black;
                        line-height: 40px;
                        width: 100%;
                    }

                    &:hover {
                        background-color: #4c4b4b;
                        font-size: larger;
                        font-weight: bold;
                        color: $orange;
                    }
                }
            }  
        }

        // ~~~~~~~~~~~~~~~~~~~~~~~~
        // user-profile

        .user-profile {
            display: flex;
            justify-content: space-between;

            width: 100%;
            height: 100%;
            
            .user-image,
            .user-name,
            .user-options {
                padding: 20px;
            }

            img {
                max-height: 350px;
                max-width: 300px;
                border-radius: 12px;
            }
        }
    }
}

