// ~~~~~~~~~~~~~~~~~~~~~~~~
// buttons
.buttons {
    display: flex;
    @include main-margin;
    justify-content: space-between;
    margin: 10px 0;
    .add-buttons {
        display: flex;
        flex-direction: row;
        .add-route,
        .add-sector,
        .add-ascent,
        .save,
        .add-training,
        .add-comment,
        .join-leave,
        .add-post {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 140px;
            margin-right: 15px;
        }
    }
    .add-route, 
    .add-sector,
    .add-ascent,
    .back-button,
    .save,
    .delete-button,
    .add-training,
    .add-comment,
    .join-leave,
    .add-post {
        height: 50px;
        width: 90px;
        border-radius: 12px;
        cursor: pointer;
        color: $white;
        background-color: $grey;
        font-family: 'Roboto', sans-serif;
        font-size: large;
        font-weight: bold;
        border: none;
        @include hover;
    }
}