// ~~~~~~~~~~~~~~~~~~~~~~~~
// navigation bar

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: $grey;
    height: 50px;
    border-radius: 0 0 12px 12px;

    .nav-element {
        display: flex;
        align-items: center;

        padding: 0;
        height: 100%;

        &:first-child {
            @include logo;
            @include hover;

            padding: 0 20px;
        }

        .nav-item {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 100%;
            list-style: none;

            .nav-link {
                display: flex;
                align-items: center;
                justify-content: center;
                // color: $almost-black;
                color: $white;
                text-decoration: none;
                // font-weight: bold;
                letter-spacing: 0.3px;
                padding: 0 20px;
                height: 100%;

                @include hover;      
            }              
        }
    }
}