.posts {
    // background-color: $grey-form;
    border-radius: 6px;
    padding: 20px;
    margin: 40px;
    h2 {
        text-align: center;
    }
    .new-comment,
    .new-post {
        min-height: 300px;
        width: 100%;
        h1 {
            text-align: center;
        }
        form {
            .fieldWrapper.form-group {
                display: flex;
                flex-direction: row;;
                .field-label {
                    padding: 10px;
                    font-weight: bold; 
                    width: 10%;
                }
                .field {
                    width: 80%;
                    height: 100px;
                    input[type=text] {
                        width: 400px;
                        height: 30px;
                        padding-left: 5px;
                        .django-mediumeditor-editable {
                            width: 80px;
                        }
                    }
                    .django-mediumeditor-editable {
                        background-color: $white;
                        border-radius: 6px;
                        min-height: 40px;
                    }
                    
                }
                
            }
        .buttons {
            margin-top: 80px;
            } 
        }
    }
    .group-posts {
        .group-name {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $grey;
            border-radius: 6px;
            height: 50px;
            margin: 40px 0;
            span {
                font-weight: normal;
                font-size: smaller;
            }
            a {
                color: $white;
                text-decoration: none;
                font-size: large;
            }
        }
        .post-media {
            background-color: $grey-form;
            padding: 5px 20px;
            margin: 20px 0;
            border-radius: 6px;
            .post-title {
                background-color: $white;
                padding: 10px;
                border-radius: 6px;
            }
            .media-body {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                .post-body {
                    background-color: $white;
                    border-radius: 6px;
                    padding: 5px 15px;
                    width: 72%
                }
                .posts-user {

                    width: 28%;
                    
                    .posts-user-info {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        text-decoration: none;
                        color: $white;
                        width: 100%;
                        span {
                            padding-left: 5px;
                        }
                        @include hover;    
                        &:hover {
                            background-color: initial;
                            font-weight: bolder;
                        }    
                    }
                }
                .comment {
                    width: 100%;
                    ul {
                        list-style: none;
                        padding: 0;
                    }
                    .users-comment {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        
                        .users-comment-user {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            width: 28%;
                            height: 50px;
                            margin-right: 20px;
                            text-decoration: none;
                            color: $white;
                            @include hover;
                            span {
                                font-size: smaller;
                                padding-left: 5px;
                            }
                            &:hover {
                                background-color: initial;
                                font-weight: bolder;
                            }
                        }
                        .users-comment-comment {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            background-color: $white;
                            border-radius: 6px;
                            padding: 1px 10px;
                            font-size: small;
                            margin: 5px 0;
                            width: 72%;
                            p {
                                width: 90%;
                            }
                            .comment-edit {
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                                width: 10%;
                            }
                        }
                    }
                }
            }
        }
    }
}