{% extends "posts/posts_base.html" %}
{% block posts_content %}
<div class="new-comment">
    <h1 class="text-center">New Comment</h1>
    <form  action="" method="post">
        {{form.media}}
        {% csrf_token %}
        {# Include the hidden fields #}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="fieldWrapper form-group">
                {{ field.errors }}
                <div class="field-label">
                    {{ field.label }}
                </div>
                <div class="field">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <div class="buttons">
            <input class="save" type="submit" value="Save">
            <input class="back-button" type=button value='Back' onClick="javascript:history.go(-1);">
        </div>
    </form>  
</div>

{% endblock posts_content %}
